/* ! this page is a mess i have a bunch of this stuff I need to import and not repeat */
/*------------------*/
/* #DEMOS */
/*------------------*/

.demo__kayak {
  padding-block: var(--elbrus);
  background-color: var(--sand-100);
  box-shadow: 0 0 0 100vmax var(--sand-100);
  clip-path: inset(0 -100vmax);

  @media (prefers-color-scheme: dark) {
    background-color: var(--navy-300);
    box-shadow: 0 0 0 100vmax var(--navy-300);
  }

  .card {
    background-color: whitesmoke;

    @media (prefers-color-scheme: dark) {
      background-color: var(--navy-300);
    }
  }

  .demo__kayak--header {
    max-width: var(--pelican);
    margin-inline: auto;
    flex-flow: column-reverse;
    margin-block-end: 0;
    display: flex;
    gap: 1rem;

    > * {
      flex: 1;
    }

    @media (min-width: 40rem) {
      flex-flow: row wrap;
    }
  }
}
