/*------------------*/
/* #DEMOS */
/*------------------*/

.demo__kayak {
  padding-block: var(--baseline);
  background-color: var(--sand);
  box-shadow: 0 0 0 100vmax var(--sand);
  clip-path: inset(0 -100vmax);

  @media (prefers-color-scheme: dark) {
    background-color: var(--ink);
    box-shadow: 0 0 0 100vmax var(--ink);
  }

  .card {
    background-color: whitesmoke;

    @media (prefers-color-scheme: dark) {
      background-color: hsl(var(--ink__h), 50%, 5%);
    }
  }

  .demo__kayak--header {
    max-width: var(--pelican);
    margin-inline: auto;
    flex-flow: column-reverse;
    margin-block-end: 0;
    display: flex;
    gap: 1rem;

    > * {
      flex: 1;
    }

    @media (min-width: 40rem) {
      flex-flow: row wrap;
    }
  }
}
