/*------------------*/
/* #RENTALS */
/*------------------*/

.rentals {
  max-width: var(--pelican);
  display: grid;
  row-gap: var(--baseline);
  column-gap: 1rem;
  grid-template-areas:
    "info"
    "rates"
    "composition"
    "here__location"
    "specialty_rentals";

  @media (min-width: 30rem) {
    grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
    grid-template-areas:
      "info composition"
      "rates here__location"
      "specialty_rentals .";
  }

  .book-now {
    align-self: start;
  }

  .info {
    grid-area: info;
  }

  .rates {
    grid-area: rates;
  }

  .montage {
    grid-area: montage;
  }

  .here__location {
    grid-area: here__location;
  }

  .specialty_rentals {
    grid-area: specialty_rentals;
  }
}
