body {
  margin: 0; // reset
  font-size: 16px;
  background-color: whitesmoke;
  color: var(--black-metal);

  @media (prefers-color-scheme: dark) {
    background-color: var(--black-metal);
    color: var(--brilliance);
  }
}
