body {
  margin: 0; /* reset */
  font-size: 16px;
  background-color: whitesmoke;
  color: var(--black-metal);

  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--ink__h), 50%, 5%);
    color: var(--kingly-cloud);
  }
}
