/*------------------------------------*/
/* #BUTTONS */
/*------------------------------------*/

button,
.button,
.book-now {
  color: var(--ruby-100);
  border: 1px solid var(--ruby-100);
  box-shadow: var(--penumbra);

  @media (prefers-color-scheme: dark) {
    background-color: var(--ruby-100);
    border-color: var(--ruby-200);
    color: var(--brilliance);
  }
}

button:hover,
.button:hover {
  color: var(--ruby-200);
  border-color: var(--ruby-200);

  /* TODO this doesnt do enough in dark to see the change */
  @media (prefers-color-scheme: dark) {
    color: var(--ruby-200);
  }
}

.button__active,
button:active,
.button__ruby:active,
.button__ruby--active {
  border-color: var(--ruby-300);
  color: var(--ruby-300);
  box-shadow: var(--umbra);

  @media (prefers-color-scheme: dark) {
    background-color: var(--ruby-300);
    color: var(--black-metal);
  }
}

/*------------------*/
/* #BOOK NOW primary call to action */
/*------------------*/

.book-now {
  background-color: var(--ruby-100);
  color: var(--brilliance);

  @media (prefers-color-scheme: dark) {
    background-color: var(--ruby-200);
    color: var(--kingly-cloud);
  }
}

.book-now:hover,
.book-now:active {
  background-color: var(--ruby-200);
  color: var(--kingly-cloud);

  @media (prefers-color-scheme: dark) {
    background-color: var(--ruby-100);
    color: var(--brilliance);
  }
}
