button {
  background: none;
  border: 1px solid var(--mullen);
  border-radius: 0.25rem;
  color: var(--mullen);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  margin-block-end: 1.5rem;
  transition: 0.5s ease;
}

button:hover {
  background: var(--mullen); // TODO darker than this
  color: black;
}

/*------------------*/
//  #TOPBAR
/*------------------*/

// !:this flashes in on every load which is bad
.top-bar {
  transition: 0.5s ease;
  height: 0;
  opacity: 0;
}

.top-bar.shown {
  opacity: 1;
  height: auto;
}

.top-bar.hidden {
  opacity: 0;
  height: 0;
}

.top-bar p,
.top-bar button {
  display: inline;
  color: whitesmoke;
  margin: 0;
}

/*------------------*/
//  #MENU
/*------------------*/

menu button {
  margin: 0;
}

.book-now {
  @extend button;
  margin-block-start: 0.75rem;
  text-decoration: none;
  text-align: center;
}
