/*------------------*/
/* #CARD & TICKET */
/*------------------*/

/* this is always a Link */
.card,
.ticket {
  background-color: var(--sand-100);
  box-shadow: var(--penumbra);

  @media (prefers-color-scheme: dark) {
    background-color: var(--navy-200);
    border-color: var(--navy-300);
  }

  .card__span {
    color: var(--industrial-revolution);
  }

  p {
    color: var(--black-metal);

    @media (prefers-color-scheme: dark) {
      color: var(--kingly-cloud);
    }
  }

  /* TODO: is: */
  .card__details {
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--black-out);

      @media (prefers-color-scheme: dark) {
        color: var(--brilliance);
      }
    }

    button {
      background-color: var(--ruby-100);
      color: var(--brilliance);
    }

    button:where(:hover, :focus) {
      background-color: var(--ruby-200);
      color: var(--kingly-cloud);
    }
  }

  .badge {
    background-color: var(--brilliance);
    box-shadow: var(--penumbra);

    @media (prefers-color-scheme: dark) {
      background-color: var(--black-metal);
      color: var(--brilliance);
    }
  }
}
