.deck {
  max-width: 60rem;
  margin-inline: auto;
  margin-block: 3rem;

  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  padding-inline: 0.75rem;

  @media (min-width: 40rem) {
    grid-template-columns: 1fr 1fr;
  }

  .card {
    background-color: var(--sand);
    box-shadow: var(--penumbra);
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .card__placeholder {
      max-height: 5rem;
      border: none;
      border-radius: 0;
    }

    .card__title {
      font-size: 2rem; // h3
      margin-inline: 0.75rem;
    }

    p {
      margin-inline: 0.75rem;
    }

    hr {
      margin-inline: 0.75rem;
    }

    .card__details {
      display: flex;
      width: calc(100% - 1.5rem);
      margin-inline: 0.75rem;
      justify-content: space-between;
    }

    button {
      background-color: var(--mullen);
      color: whitesmoke;
    }

    button:where(:hover, :focus) {
      background-color: var(--sand);
      color: var(--mullen);
    }
  }
}

.deck__more {
  max-width: 60rem;
  margin-inline: auto;
  padding-inline: 0.75rem;

  button {
    margin-block-start: 1.5rem;
    margin-inline: auto; // !
    // display: inline-block;
    // text-align: center;
    // why dont you want to be margin-inline?
    // I could do something with a flex if i needed to
  }
}
