/*------------------*/
//  #COLOR
/*------------------*/

.top-bar {
  background: var(--mullen);
  color: whitesmoke;
  box-shadow: 0 0 0 100vmax var(--c);
  clip-path: inset(0 -100vmax);
  padding: 10px 0;
}

.logo a {
  color: var(--almost);
}

// ! this isnt working
a:where(:hover, :focus) {
  color: var(--mullen);
  text-decoration: none;
}

footer {
  background-color: var(--sand);
  box-shadow: 0 0 0 100vmax var(--sand);
  clip-path: inset(0 -100vmax);
}

/*------------------*/
//  #SINGLE PAGES
/*------------------*/

.home__main {
  background-color: var(--sand);
  box-shadow: 0 0 0 100vmax var(--sand);
  clip-path: inset(0 -100vmax);
}

.home__tours {
  background-color: var(--sand);
  box-shadow: 0 0 0 100vmax var(--sand);
  clip-path: inset(0 -100vmax);
}

.unit {
  color: var(--industrial-revolution);
}

/*------------------*/
//  #TYPOGRAPHY
/*------------------*/

.typography__secondary {
  color: var(--industrial-revolution);
}
