/*------------------*/
/* #COLOR */
/*------------------*/

footer,
.sand_backed--wide {
  background-color: var(--sand);
  box-shadow: 0 0 0 100vmax var(--sand);
  clip-path: inset(0 -100vmax);

  @media (prefers-color-scheme: dark) {
    background-color: var(--ink);
    box-shadow: 0 0 0 100vmax var(--ink);
  }

  hr {
    border-color: var(--tin-soldier);

    @media (prefers-color-scheme: dark) {
      border-color: var(--raven-black);
    }
  }
}

/* no longer a button so no longer mullen background */
.top-wrapper {
  /* background: var(--mullen-100); */
  background: whitesmoke;
  clip-path: inset(0 -100vmax);
  border-end-end-radius: var(--border-radius);

  .top-bar {
    background: var(--mullen-100);
    color: whitesmoke;
  }

  svg {
    fill: var(--brilliance);
  }
}

.logo a {
  color: var(--black-metal);
}

footer {
  .locations__complete > * {
    border-color: var(--tin-soldier);

    @media (prefers-color-scheme: dark) {
      border-color: var(--raven-black);
    }
  }
}

/*------------------*/
/* #SINGLE PAGES */
/*------------------*/

.home {
  background-color: var(--sand);
  box-shadow: 0 0 0 100vmax var(--sand);
  clip-path: inset(0 -100vmax);

  @media (prefers-color-scheme: dark) {
    background-color: var(--ink-200);
    box-shadow: 0 0 0 100vmax var(--ink-200);
  }
}

/* .unit {
  color: var(--industrial-revolution);

  @media (prefers-color-scheme: dark) {
    color: var(--cold-grey);
  }
} */

/*------------------*/
/* #TYPOGRAPHY */
/*------------------*/

.typography__secondary {
  color: var(--industrial-revolution);

  @media (prefers-color-scheme: dark) {
    color: var(--cold-grey);
  }
}

.blocked {
  padding-block-start: var(--elbrus);
  background-color: var(--sand);
  box-shadow: 0 0 0 100vmax var(--sand);
  clip-path: inset(0 -100vmax);

  @media (prefers-color-scheme: dark) {
    background-color: var(--ink);
    box-shadow: 0 0 0 100vmax var(--ink);
  }
}

/*------------------*/
/* #SERIES */
/*------------------*/

.series section {
  max-width: var(--pelican);
}

/* this isnt right as if a section is empty it still counts */
.series section:nth-child(odd, :has(p)) {
  background-color: var(--sand);
  box-shadow: 0 0 0 100vmax var(--sand);
  clip-path: inset(0 -100vmax);
  padding-block: var(--elbrus);
  margin-block-end: var(--elbrus);

  @media (prefers-color-scheme: dark) {
    background-color: var(--ink);
    box-shadow: 0 0 0 100vmax var(--ink);
  }
}

.series section:last-child {
  margin-block-end: 0;
}

.series section:not(:has(p)) {
  margin-block-start: -1.25rem;
}

/*------------------------------------*/

.location {
  /* css funtions are goning to help with this near a button */
  background-color: var(--mullen-100);
  color: var(--brilliance);

  @media (prefers-color-scheme: dark) {
    background-color: var(--mullen-300);
  }

  svg {
    fill: var(--brilliance);
  }

  @media (prefers-color-scheme: dark) {
    svg {
      fill: var(--brilliance-300);
    }
  }
}

.location.false {
  background-color: transparent;
  border-block-end: 1px solid var(--tin-soldier);

  color: var(--mullen-100);
  svg {
    fill: var(--mullen-100);
  }
}

.location.false:hover {
  background-color: var(--sand-100);
}

.home .location.false:hover {
  background-color: var(--sand-200);
}
