/*------------------*/
/* #COLOR */
/*------------------*/

footer,
.sand_backed--wide {
  background-color: var(--sand-100);
  box-shadow: 0 0 0 100vmax var(--sand-100);
  clip-path: inset(0 -100vmax);

  @media (prefers-color-scheme: dark) {
    background-color: var(--navy-300);
    box-shadow: 0 0 0 100vmax var(--navy-300);
  }

  hr {
    border-color: var(--tin-soldier);

    @media (prefers-color-scheme: dark) {
      border-color: var(--raven-black);
    }
  }
}

.top-bar {
  background-color: var(--brilliance);
  box-shadow: 0 0 0 100vmax var(--brilliance);

  @media (prefers-color-scheme: dark) {
    background-color: var(--navy-200);
    box-shadow: 0 0 0 100vmax var(--navy-200);
  }
}

.top-bar.closed {
  background-color: var(--ruby-100);
  box-shadow: 0 0 0 100vmax var(--ruby-100);
  color: var(--brilliance);
}

.logo a {
  color: var(--black-metal);
}

footer {
  .locations__complete > * {
    border-color: var(--tin-soldier);

    @media (prefers-color-scheme: dark) {
      border-color: var(--raven-black);
    }
  }
}

/*------------------*/
/* #SINGLE PAGES */
/*------------------*/

/* TODO: rename this is only part of home */
.home {
  background-color: var(--sand-100);
  box-shadow: 0 0 0 100vmax var(--sand-100);
  clip-path: inset(0 -100vmax);

  @media (prefers-color-scheme: dark) {
    background-color: var(--navy-200);
    box-shadow: 0 0 0 100vmax var(--navy-200);
  }
}

/*------------------*/
/* #TYPOGRAPHY */
/*------------------*/

.typography__secondary {
  color: var(--industrial-revolution);

  @media (prefers-color-scheme: dark) {
    color: var(--cold-grey);
  }
}

.blocked {
  padding-block-start: var(--elbrus);
  background-color: var(--sand-100);
  box-shadow: 0 0 0 100vmax var(--sand-100);
  clip-path: inset(0 -100vmax);

  @media (prefers-color-scheme: dark) {
    background-color: var(--navy-300);
    box-shadow: 0 0 0 100vmax var(--navy-300);
  }
}

/*------------------*/
/* #SERIES */
/*------------------*/

.series section {
  max-width: var(--pelican);
}

/* this isnt right as if a section is empty it still counts */
.series section:nth-child(odd, :has(p)) {
  background-color: var(--sand-100);
  box-shadow: 0 0 0 100vmax var(--sand-100);
  clip-path: inset(0 -100vmax);
  padding-block: var(--elbrus);
  margin-block-end: var(--elbrus);

  @media (prefers-color-scheme: dark) {
    background-color: var(--navy-300);
    box-shadow: 0 0 0 100vmax var(--navy-300);
  }
}

.series section:last-child {
  margin-block-end: 0;
}

/* TODO: wrong place and needs variable */
.series section:not(:has(p)) {
  margin-block-start: -1.25rem;
}

/*------------------------------------*/

.location {
  /* css funtions are goning to help with this near a button */
  background-color: var(--ruby-100);
  color: var(--brilliance);

  @media (prefers-color-scheme: dark) {
    background-color: var(--ruby-300);
  }

  svg {
    fill: var(--brilliance);
  }

  @media (prefers-color-scheme: dark) {
    svg {
      fill: var(--brilliance-300);
    }
  }
}

.location.false {
  background-color: transparent;
  color: var(--ruby-100);

  @media (prefers-color-scheme: dark) {
    color: var(--brilliance);
  }

  svg {
    fill: var(--ruby-100);
  }
}

.location-wrapper:has(.location.false) {
  border-block-end: 1px solid var(--tin-soldier);
}

.location-wrapper:has(.location.false):hover {
  background-color: var(--sand-100);

  @media (prefers-color-scheme: dark) {
    background-color: var(--navy-200);
  }
}

.home .location-wrapper:has(.location.false):hover {
  background-color: var(--sand-200);

  @media (prefers-color-scheme: dark) {
    background-color: var(--navy-100);
  }
}
