/*------------------*/
//  #COLOR
/*------------------*/

.sand_backed--wide {
  background-color: var(--sand);
  box-shadow: 0 0 0 100vmax var(--sand);
  clip-path: inset(0 -100vmax);

  @media (prefers-color-scheme: dark) {
    background-color: var(--ink);
    box-shadow: 0 0 0 100vmax var(--ink);
  }
}

.top-wrapper {
  background: var(--mullen);
  clip-path: inset(0 -100vmax);
  border-end-end-radius: var(--border-radius);

  .top-bar {
    background: var(--mullen);
    color: whitesmoke;
    padding: 10px 0;
  }

  svg {
    fill: var(--brilliance);
  }
}

.logo a {
  color: var(--black-metal);
}

// ! this isnt working
a:where(:hover, :focus) {
  color: var(--mullen);
  text-decoration: none;
}

footer {
  @extend .sand_backed--wide;
}

/*------------------*/
//  #SINGLE PAGES
/*------------------*/

.home__main {
  background-color: var(--sand);
  box-shadow: 0 0 0 100vmax var(--sand);
  clip-path: inset(0 -100vmax);

  @media (prefers-color-scheme: dark) {
    background-color: var(--ink);
    box-shadow: 0 0 0 100vmax var(--ink);
  }
}

.unit {
  color: var(--industrial-revolution);

  @media (prefers-color-scheme: dark) {
    color: var(--cold-grey);
  }
}

/*------------------*/
//  #TYPOGRAPHY
/*------------------*/

.typography__secondary {
  color: var(--industrial-revolution);

  @media (prefers-color-scheme: dark) {
    color: var(--cold-grey);
  }
}

// ! this is editing the whole page
/* .blocked {
  background-color: var(--sand);
  box-shadow: 0 0 0 100vmax var(--sand);
} */
