/*------------------*/
//  #LAYOUT
/*------------------*/

.button__double {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.double-baseline {
  margin-block-end: calc(var(--baseline) * 2);
}

.baseline-spacing {
  padding-block: var(--baseline);
}

.flex1 {
  display: flex;

  > * {
    flex: 1;
  }
}

/*------------------*/
//  #HEADER
/*------------------*/

header {
  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
    max-width: 30rem; // ? why is this not a variable
    margin-inline: auto;
    font-size: 2rem;

    a {
      display: inline-block;
    }
  }

  .top-wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 999; // has to be above everything I can do a better job of this
    // TODO there is something about forrests here
    position: relative;
    column-gap: 0.5rem;
    grid-template-columns: 1fr auto 1fr; // not working on safari
    // the first 1fr is way too wide
    // grid-template-columns: repeat(3, auto);

    .top-bar {
      text-align: center;
      padding-block-end: 0;
      grid-row: 1;
      grid-column: 2;

      p {
        white-space: pre;
      }

      // guess and check size to about a line of text
      @media (min-width: 20rem) {
        p {
          // * outside the inception rule
          white-space: nowrap;

          .top-bar_breaker {
            display: none;
          }
        }
      }
    }

    button:hover {
      box-shadow: none; // reset
    }

    // opener
    .reseason {
      margin: 0; // reset
      grid-column: 1/4;
      grid-row: 2;
      width: 100%; // ? why is this not full width of the screen?
      width: 100vw; // now its too wide?
      width: calc(100vw - 1rem); // im not sure what this is adjusting for
      padding: 0;
      height: 0.25rem;
      border: none;
      align-self: end; // vertical
    }

    .reseason:where(:hover, :focus) {
      background-color: hsl(var(--mullen__base), var(--dim));
    }

    // closer arrow
    .season {
      margin: 0;
      padding: 0;
      grid-column: 3;
      grid-row: 1/3; // why 5 there shouldnt be 4 rows
      align-self: end; // vertical
      justify-self: start; // horizontal
      margin-block-start: -1.5rem; // this is the animation
      // margin-block-end: 0.25rem;
      transform: rotate(180deg);
    }

    .season:hover {
      margin-block-end: 0.75rem;
    }

    button svg {
      width: 2rem;
      height: 2rem;
    }
  }
}

/*------------------*/
//  #MAIN
/*------------------*/

main,
section,
article {
  max-width: var(--measure);
  margin-inline: auto;
  padding-inline: 0.75rem;
}

main {
  margin-block-end: 3rem;
}

.main__pelican {
  max-width: var(--pelican);
}

.main__full {
  max-width: 60rem;
  margin-inline: auto;

  display: flex;
  gap: 1rem;

  > * {
    flex: 1;
  }
}

.main__full--tour {
  flex-flow: column-reverse;

  @media (min-width: 40rem) {
    flex-flow: row wrap;
  }
}

/*------------------*/
//  #HOME
/*------------------*/

.home__main {
  display: flex;
  max-width: 60rem;
  flex-flow: row wrap;

  > * {
    flex: 1 1 20rem;
  }

  @media (min-width: 40rem) {
    margin-block-start: calc(var(--baseline) * 2);
    padding-block-start: calc(var(--baseline) * 2);
  }

  @media (min-width: 80rem) {
    max-width: 80rem;
    /*    > *:first-child {
      flex: 1;
    }

    > *:nth-child(2) {
      flex: 2;
    } */
  }
}

.home__main--season {
  display: flex;
  flex-flow: column;
  padding-inline: 0;
  flex-flow: row wrap;
  gap: 0.75rem;
  justify-content: space-between;

  @media (min-width: 40rem) {
    justify-content: start;
    gap: calc(var(--baseline) * 2);
  }

  // normal
  > *:first-child {
    margin-right: 0;
    gap: var(--baseline);
  }

  // old
  @supports not (gap: 1rem) {
    > *:first-child {
      margin-right: var(--baseline);
      background-color: rebeccapurple;
    }
  }
}

.main__photo-grid {
  display: grid;
  grid-template-rows: 4rem 1rem auto;
  grid-template-columns: 1fr 1fr;

  @media (min-width: 40rem) {
    grid-template-rows: 10rem 2rem auto;
  }

  .kayakers {
    grid-row: 1/3;
    grid-column: 1/3;
    margin-inline-end: 1rem;
  }

  .texture {
    grid-row: 2/4;
    grid-column: 1/3;
    margin-inline-start: 3rem;
    margin-inline-end: 2rem;
    max-height: 6rem;
    z-index: -1;
  }

  .andy {
    grid-row: 3;
    grid-column: 2;
    max-height: 6rem;
    margin-block-start: -2rem;
    // margin-inline-start: 4rem;
    border-radius: 50%;
    aspect-ratio: 1;

    @media (min-width: 40rem) {
      max-height: 10rem;
      margin-block-start: -4rem;
      // margin-inline-start: 8rem;
    }

    img {
      border-radius: 50%; // safari fix
    }
  }
}

.home__rentals {
  max-width: 80rem;
  margin-inline: auto;
  display: flex;
  flex-flow: row wrap;

  > * {
    flex: 1 1 20rem;
  }
}

.home__tours {
  max-width: 60rem;
  margin-inline: auto;
  display: flex;
  padding-block-start: calc(var(--baseline) * 2);

  @media (min-width: 40rem) {
    display: flex;

    > * {
      flex: 1 1 20rem;
    }
  }
}

/*------------------*/
//  #SINGLES
/*------------------*/

.single__description {
  margin-block-start: var(--baseline);
  padding-block: 1.5rem;
  background-color: var(--kingly-cloud);
}

.tin-soldier__wide {
  background-color: var(--tin-soldier);
  box-shadow: 0 0 0 100vmax var(--tin-soldier);
  clip-path: inset(0 -100vmax);
}

.brand_blocks > * {
  margin-block-end: var(--baseline);
  padding-block-end: var(--baseline);
}

.brand_blocks > *:nth-child(odd) {
  clip-path: inset(0 -100vmax);
  background-color: var(--brilliance);
  box-shadow: 0 0 0 100vmax var(--brilliance);

  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--sand__base), 5%);
    box-shadow: 0 0 0 100vmax hsl(var(--sand__base), 5%);
  }
}

.none {
  margin-block-start: 1.5rem;
}

// ? this might be a bad name if its also buy
.single__book {
  max-width: 40rem;
  margin-inline: auto;
  margin-block-end: calc(var(--baseline) * 2);
  background-color: var(--cold-grey);
  box-shadow: 0 0 0 100vmax var(--cold-grey);
  clip-path: inset(0 -100vmax);
  padding-block: 1.5rem;
  color: var(--brilliance);

  > * {
    margin-inline: calc(var(--baseline) / 2);
  }

  button {
    border-color: whitesmoke;
    color: whitesmoke;
  }

  // needs specificity
  a:where(:hover, :focus) {
    background-color: hsl(var(--mullen__base), var(--dim)) !important;
    color: var(--kingly-cloud) !important;
  }
}

.single__other {
  max-width: 60rem;
  margin-inline: auto;

  > h3 {
    margin-inline: calc(var(--baseline) / 2);
  }
}

.hgroup__retail {
  display: flex;
  gap: 1rem;

  .h_brand {
    order: 1;
  }

  .h_title {
    order: 2;
  }
}

.spec {
  display: flex;
  gap: 1rem;
  border-bottom: 2px solid var(--kingly-cloud);
}

// TODO: naming is bad its too close to .spec
.spec-flex {
  display: flex;
}

.unit-place__before {
  flex-direction: row-reverse;
}

/*------------------*/
//  #FOOTER
/*------------------*/

footer {
  max-width: 60rem;
  margin-inline: auto;

  display: flex;
  flex-flow: row wrap;
  gap: 1rem;

  padding-block-start: 1.5rem;
  padding-inline: var(--baseline);

  > * {
    flex: 1 1 5rem;
    border-block-end: 1px solid var(--kingly-cloud);
  }

  > *:first-child,
  *:last-child,
  .logo-copy {
    border-block-end: none;
  }

  .logo-copy img {
    margin-block-end: 1.5rem;
  }

  svg {
    flex: 0.5;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-block-end: var(--baseline);
  }

  .copy {
    font-size: 1rem;
    margin-block-end: var(--baseline);
  }

  nav {
    margin: 0;
    padding: 0;

    ul {
      margin: 0;
      padding-block-start: 0;
      flex-direction: column;
      gap: 0.75rem;
    }
  }

  hr {
    margin-block-end: var(--baseline);
  }

  .pricing-chart {
    flex: 2;
  }

  .book-now {
    border-block-end: 1px solid var(--mullen);
  }

  .footer__contact {
    p {
      margin-block-end: var(--baseline);
    }
  }
}

.social {
  display: flex;
  gap: 1rem;
  margin-block-end: var(--baseline);

  @media (min-width: 40rem) {
    margin-block-end: 2.5rem;
  }

  svg {
    height: 2.5rem;
    max-width: 2.5rem;
  }
}

.footer__contact {
}

/*------------------*/
//  #RETAIL
/*------------------*/

.spec {
  display: flex;
  gap: 1rem;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid var(--tin-soldier);
  text-transform: uppercase;

  // name
  h2 {
    color: var(--industrial-revolution);
    font-size: 1.5rem;
  }

  // spec
  h3 {
  }

  .spec__unit {
    color: grey;
  }
}

.spec:last-child {
  border-bottom: none;
}

.hgroup__retail {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  border-bottom: 1px solid var(--tin-soldier);

  * {
    margin-block: 0;
  }

  .h_brand {
    order: 1;
    margin-block-end: 0;
    color: var(--industrial-revolution);
  }

  .h_title {
    order: 2;
    margin-block-end: 0;
  }

  .h_series {
    order: 3;
    margin-block-end: 0;
    color: var(--industrial-revolution);
  }
}

/*------------------*/
//  #BREADCRUMBS
/*------------------*/

.breadcrumbs {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  // gap: 1rem;
  max-width: 60rem;
  margin-inline: auto;
  margin-block-end: 1.5rem;
  padding-block-end: 1.5rem;
  padding-inline: calc(var(--baseline) / 2);
  text-transform: capitalize;
  border-bottom: 1px solid var(--tin-soldier);

  @media (prefers-color-scheme: dark) {
    border-color: var(--raven-black);
  }
}

.tour__minimum {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  align-items: center;

  p {
    color: var(--industrial-revolution);
  }
}

/*------------------*/
//  #COLLAGE
/*------------------*/

.collage {
  display: grid;
  // grid-template-rows: 10rem auto auto;

  > * {
    grid-row: 1;
    grid-column: 1;
  }

  .cutout {
    grid-row: 2/4;
    max-width: 90%;
    object-fit: contain;
    place-self: center;
  }

  .texture {
    grid-row: 1/3;
    max-height: 20rem;
  }

  .tour_texture {
    grid-row: 1/3;
    // grid-column: 1/3;
    max-height: 20rem;
    margin-block-start: 4rem;
    width: 80%;
    aspect-ratio: 16/9;
  }

  .paddler {
    // grid-column: 1/3;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: contain;
    object-fit: cover;
    border: 2px solid whitesmoke;
    box-shadow: var(--umbra);
    margin-block-start: 2rem;
    margin-inline-start: 2rem;
    max-width: 20rem;

    img {
      border-radius: 50%;
    }
  }
}

.card-collage {
  display: grid;

  > * {
    grid-row: 1;
    grid-column: 1;
  }

  .texture-slice {
    align-self: start;
    margin: calc(var(--baseline) / 2);
    border-radius: 0.25rem;
    box-shadow: var(--penumbra);
    border: 1px solid whitesmoke;

    @media (prefers-color-scheme: dark) {
      border-color: var(--black-metal);
    }
  }

  .cutout {
    object-fit: contain;
    place-self: center;
    // box-shadow: var(--umbra);
    z-index: 2;
    grid-row: 1/1;
    filter: drop-shadow(5px 5px 5px var(--black-out));
  }

  .card__placeholder {
    max-height: 20rem !important; // I can probably get around this once its built out
  }

  svg {
    z-index: 1;
    max-height: 100%; // overwrite the default
    margin: calc(var(--baseline) / 2);
  }
}

.tour-collage {
  .texture {
    width: 80%;
    justify-self: end;
    aspect-ratio: 16/9;
  }
}

.retail-collage {
  grid-template-rows: 3rem auto auto;

  > * {
    grid-row: 1;
    grid-column: 1;
  }

  .texture {
    width: 80%;
    justify-self: center;
    aspect-ratio: 16/9;
    // max-height: 5rem;
    // margin-block-start: 5rem;
  }

  .cutout {
    filter: drop-shadow(5px 5px 5px hsla(0, 0%, 12.5%, 0.5));
  }
}

.brand__hgroup {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  align-items: baseline;

  h2 {
    color: var(--industrial-revolution);
  }
}

// TODO: document this
.reuseable__two-col {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  align-items: baseline;
  max-width: 60rem;
  margin-inline: auto;
  align-items: flex-start;

  > * {
    flex: 1 1 20rem;
  }
}

/*------------------*/
//  #MOVE THESE IF THEY WORK
/*------------------*/

// this is the right name
.location_card-wrapper {
  max-width: var(--measure); // 40rem
  margin-inline: auto;
  padding-inline: 1rem;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  align-items: flex-start;

  > * {
    flex: 2 1 20rem;
  }

  .here__card,
  > .location_card {
    // TODO this is a bad name
    flex: 1 1 10rem;
  }
}

/*------------------*/
//  #LOCATION
/*------------------*/

// this is to not use the .location class
// as sometimes we dont want to flow in a row

.locations__complete > * {
  display: flex;
  flex-flow: row wrap;
  padding-block-end: calc(var(--baseline) / 2);
  margin-block-end: var(--baseline);
  gap: 0.75rem;
  border-bottom: 1px solid gray;

  > * {
    flex: 3.5 1; // guess and check to get the parking on one row in the footer
  }

  > *:first-child {
    flex: 1 1;
  }
}

/*------------------*/
//  #COMPARE TABLE
/*------------------*/

// ! test this in chrome, it doesnt have subgrid yet

.comparesheet {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $vulture) {
    grid-template-columns: auto 1fr 1fr;
  }

  > * {
    grid-row: 1/11;
    display: grid;
    grid-template-rows: subgrid;
    gap: 1rem;
    // border-inline-end: 1px solid var(--tin-soldier);
    padding-inline-end: 1rem;

    > * {
      align-self: stretch;
    }

    > *:nth-child(odd) {
      background-color: var(--brilliance);
      border-radius: 0.25rem;
      padding: 0.5rem;
    }

    > *:first-child {
      background-color: transparent;
    }
  }

  > *:last-child {
    border-inline-end: none;
    padding-inline-end: 0;
  }

  .comparesheet_titles {
    display: none;

    @media (min-width: $vulture) {
      display: grid;
    }
    padding-inline-end: 1rem;
    text-align: end;
  }

  .comparesheet__title1 {
    position: sticky;
    top: -1px;
    z-index: var(--);
    z-index: var(--understory);
    background-color: var(--brilliance);
    box-shadow: 0 0 0 100vmax var(--brilliance);
    clip-path: inset(0 -100vmax);
  }

  .comparesheet_freeze {
    position: sticky;
    top: -1px;
    z-index: var(--canopy);
  }

  .comparesheet__title2 {
    z-index: var(--canopy);
    position: sticky;
    top: -1px;
  }
}

/*------------------*/
//  #EXTRAS
/*------------------*/

.button-drop {
  margin-block-start: 0.75rem;
}

.comparesheet_select {
  z-index: var(--emergent);
  max-width: calc(50vw - 2.25rem); // guess and check
}
