/*------------------*/
//  #LAYOUT
/*------------------*/

.button__double {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.double-baseline {
  margin-block-end: calc(var(--baseline) * 2);
}

/*------------------*/
//  #HEADER
/*------------------*/

header {
  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
    max-width: 30rem;
    margin-inline: auto;
    font-size: 2rem;

    a {
      display: inline-block;
    }
  }

  .top-bar {
    text-align: center;
  }
}

/*------------------*/
//  #MAIN
/*------------------*/

main,
section,
article {
  max-width: 40rem;
  margin-inline: auto;
  padding-inline: 0.75rem;
}

main {
  margin-block-end: 3rem;
}

.main__full {
  max-width: 60rem;
  margin-inline: auto;

  display: flex;
  gap: 1rem;

  > * {
    flex: 1;
  }
}

.main__full--tour {
  flex-flow: column-reverse;

  @media (min-width: 40rem) {
    flex-flow: row wrap;
  }
}

/*------------------*/
//  #HOME
/*------------------*/

.home__main {
  display: flex;
  max-width: 60rem;
  flex-flow: row wrap;
  padding-block-start: calc(var(--baseline) * 2);
  margin-block-start: calc(var(--baseline) * 2);

  > * {
    flex: 1 1 20rem;
  }

  @media (min-width: 80rem) {
    max-width: 80rem;
    > *:first-child {
      flex: 1;
    }

    > *:nth-child(2) {
      flex: 2;
    }
  }
}

.home__main--season {
  display: flex;
  gap: var(--baseline);
  // justify-content: space-between;
  flex-flow: column;
  padding-inline: 0;

  @media (min-width: 40rem) {
    flex-flow: row wrap;
    gap: calc(var(--baseline) * 2);
  }

  /*   > * {
    flex: 1 1 20rem;
  } */
}

.main__photo-grid {
  display: grid;
  grid-template-rows: 4rem 1rem auto;
  grid-template-columns: 1fr 1fr;

  @media (min-width: 40rem) {
    grid-template-rows: 10rem 2rem auto;
  }

  .kayakers {
    grid-row: 1/3;
    grid-column: 1/3;
    margin-inline-end: 1rem;
  }

  .texture {
    grid-row: 2/4;
    grid-column: 1/3;
    margin-inline-start: 3rem;
    margin-inline-end: 2rem;
    max-height: 6rem;
    z-index: -1;
  }

  .andy {
    grid-row: 3;
    grid-column: 2;
    max-height: 6rem;
    margin-block-start: -2rem;
    // margin-inline-start: 4rem;
    border-radius: 50%;
    aspect-ratio: 1;

    @media (min-width: 40rem) {
      max-height: 10rem;
      margin-block-start: -4rem;
      // margin-inline-start: 8rem;
    }

    img {
      border-radius: 50%; // safari fix
    }
  }
}

.home__rentals {
  max-width: 60rem;
  margin-inline: auto;
  display: flex;
  flex-flow: row wrap;

  > * {
    flex: 1 1 20rem;
  }
}

.home__tours {
  max-width: 60rem;
  margin-inline: auto;
  display: flex;
  padding-block-start: calc(var(--baseline) * 2);

  @media (min-width: 40rem) {
    display: flex;

    > * {
      flex: 1 1 20rem;
    }
  }
}

.home__here {
  max-width: 60rem;
  margin-inline: auto;
  display: flex;
  flex-flow: row wrap;

  > * {
    flex: 1 1 20rem;
  }
}

.here__location {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  border-block-end: 1px solid var(--kingly-cloud);
  margin-block-end: 1.5rem;
  padding-block-end: 1.5rem;

  > * {
    flex: 1;
  }

  > :first-child {
    flex: 0.5;
  }
}

/*------------------*/
//  #SINGLES
/*------------------*/

.single__description {
  padding-block: 1.5rem;
  background-color: var(--mercury);
  box-shadow: 0 0 0 100vmax var(--mercury);
  clip-path: inset(0 -100vmax);
  margin-block-end: calc(var(--baseline) * 2);
}

// ? this might be a bad name if its also buy
.single__book {
  max-width: 40rem;
  margin-inline: auto;
  margin-block-end: calc(var(--baseline) * 2);
  background-color: var(--mullen);
  box-shadow: 0 0 0 100vmax var(--mullen);
  clip-path: inset(0 -100vmax);
  padding-block: 1.5rem;

  > * {
    margin-inline: calc(var(--baseline) / 2);
  }

  button {
    border-color: whitesmoke;
    color: whitesmoke;
  }
}

.single__other {
  max-width: 60rem;
  margin-inline: auto;

  > h3 {
    margin-inline: calc(var(--baseline) / 2);
  }
}

.hgroup__retail {
  display: flex;
  gap: 1rem;

  .h_brand {
    order: 1;
  }

  .h_title {
    order: 2;
  }
}

.spec {
  display: flex;
  gap: 1rem;
  border-bottom: 2px solid var(--mercury);
}

/*------------------*/
//  #FOOTER
/*------------------*/

footer {
  max-width: 60rem;
  margin-inline: auto;

  display: flex;
  flex-flow: row wrap;
  gap: 1rem;

  padding-block-start: 1.5rem;

  > * {
    flex: 1 1 5rem;
    border-block-end: 1px solid var(--mercury);
  }

  > *:first-child,
  *:last-child,
  .logo-copy {
    border-block-end: none;
  }

  svg {
    flex: 0.5;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-block-end: var(--baseline);
  }

  .copy {
    font-size: 1rem;
    margin-block-end: var(--baseline);
  }

  nav {
    margin: 0;
    padding: 0;

    ul {
      padding-block-start: 0;
      flex-direction: column;
      gap: 0.75rem;
    }
  }

  hr {
    margin-block-end: var(--baseline);
  }

  .pricing-chart {
    flex: 2;

    h4 {
      font-size: 0.75rem;
      line-height: 1rem;
      font-weight: 400;
      margin: 0.25px;
    }

    p {
      font-size: 0.75rem;
      margin: 0.25px;
    }
  }

  .book-now {
    border-block-end: 1px solid var(--mullen);
  }
}

.social {
  display: flex;
  gap: 1rem;
  margin-block-end: var(--baseline);

  @media (min-width: 40rem) {
    margin-block-end: 2.5rem;
  }

  svg {
    height: 2.5rem;
    max-width: 2.5rem;
  }
}

/*------------------*/
//  #RETAIL
/*------------------*/

.spec {
  display: flex;
  gap: 1rem;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid var(--silver);
  text-transform: uppercase;

  // name
  h2 {
    color: var(--steel);
    font-size: 1.5rem;
  }

  // spec
  h3 {
  }

  .spec__unit {
    color: var(--nickel);
  }
}

.spec:last-child {
  border-bottom: none;
}

.hgroup__retail {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  border-bottom: 1px solid var(--silver);

  * {
    margin-block: 0;
  }

  .h_brand {
    order: 1;
    margin-block-end: 0;
    color: var(--steel);
  }

  .h_title {
    order: 2;
    margin-block-end: 0;
  }

  .h_series {
    order: 3;
    margin-block-end: 0;
    color: var(--steel);
  }
}

/*------------------*/
//  #BREADCRUMBS
/*------------------*/

.breadcrumbs {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  // gap: 1rem;
  max-width: 60rem;
  margin-inline: auto;
  border-bottom: 1px solid var(--silver);
  margin-block-end: 1.5rem;
  padding-block-end: 1.5rem;
  padding-inline: calc(var(--baseline) / 2);
  text-transform: capitalize;
}

.tour__minimum {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  align-items: center;

  p {
    color: var(--steel);
  }
}

/*------------------*/
//  #COLLAGE
/*------------------*/

.collage {
  display: grid;
  // grid-template-rows: 10rem auto auto;

  > * {
    grid-row: 1;
    grid-column: 1;
  }

  .cutout {
    grid-row: 2/4;
    max-width: 90%;
    object-fit: contain;
    place-self: center;
  }

  .texture {
    grid-row: 1/3;
    max-height: 20rem;
  }

  .tour_texture {
    grid-row: 1/3;
    // grid-column: 1/3;
    max-height: 20rem;
    margin-block-start: 4rem;
    width: 80%;
    aspect-ratio: 16/9;
  }

  .paddler {
    // grid-column: 1/3;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: contain;
    object-fit: cover;
    border: 2px solid whitesmoke;
    box-shadow: var(--umbra);
    margin-block-start: 2rem;
    margin-inline-start: 2rem;
    max-width: 20rem;

    img {
      border-radius: 50%;
    }
  }
}

.card-collage {
  display: grid;

  > * {
    grid-row: 1;
    grid-column: 1;
  }

  .texture-slice {
    align-self: start;
    margin: calc(var(--baseline) / 2);
    border-radius: 0.25rem;
    box-shadow: var(--penumbra);
    border: 1px solid whitesmoke;
  }

  .cutout {
    object-fit: contain;
    place-self: center;
    // box-shadow: var(--umbra);
    filter: drop-shadow(5px 5px 5px #222); // TODO make this a var
    z-index: 2;
    grid-row: 1/1;
  }

  .card__placeholder {
    max-height: 20rem !important; // I can probably get around this once its built out
  }

  svg {
    z-index: 1;
    max-height: 100%; // overwrite the default
    margin: calc(var(--baseline) / 2);
  }
}

.tour-collage {
  .texture {
    width: 80%;
    justify-self: end;
    aspect-ratio: 16/9;
  }
}

.retail-collage {
  grid-template-rows: 3rem auto auto;

  > * {
    grid-row: 1;
    grid-column: 1;
  }

  .texture {
    width: 80%;
    justify-self: center;
    aspect-ratio: 16/9;
    // max-height: 5rem;
    // margin-block-start: 5rem;
  }

  .cutout {
    filter: drop-shadow(5px 5px 5px hsla(0, 0%, 12.5%, 0.5));
  }
}

.brand__hgroup {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  align-items: baseline;

  h2 {
    color: var(--steel);
  }
}

// TODO: document this
.reuseable__two-col {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  align-items: baseline;
}
