/*------------------*/
//  #LAYOUT
/*------------------*/

.button__double {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

/*------------------*/
//  #HEADER
/*------------------*/

header {
  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
    max-width: 30rem;
    margin-inline: auto;
    font-size: 2rem;

    a {
      display: inline-block;
    }
  }

  .top-bar {
    text-align: center;
  }
}

/*------------------*/
//  #MAIN
/*------------------*/

// TODO: Check if this is actually used anywhere
main,
section,
article {
  max-width: 40rem;
  margin-inline: auto;
  padding-inline: 0.75rem;
}

.main__full {
  max-width: 60rem;
  margin-inline: auto;

  display: flex;

  > * {
    flex: 1;
  }
}

/*------------------*/
//  #HOME
/*------------------*/

.home__main {
  display: flex;
  max-width: 60rem;
}

.home__main--season {
  display: flex;
  gap: 3rem;
  // justify-content: space-between;
}

.main__photo-grid {
  display: grid;
  grid-template-rows: 4rem 1rem auto;

  .kayakers {
    grid-row: 1/3;
    grid-column: 1/3;
    margin-inline-end: 1rem;
  }

  .texture {
    grid-row: 2/4;
    grid-column: 1/3;
    margin-inline-start: 3rem;
    margin-inline-end: 2rem;
    max-height: 6rem;
  }

  .andy {
    grid-row: 3;
    grid-column: 2;
    max-height: 6rem;
    border-radius: 50%;
    aspect-ratio: 1;
  }
}

.home__rentals {
  max-width: 60rem;
  margin-inline: auto;
  display: flex;

  > * {
    flex: 1;
  }
}

.home__tours {
  max-width: 60rem;
  margin-inline: auto;
  display: flex;

  > * {
    flex: 1;
  }
}

.home__here {
  max-width: 60rem;
  margin-inline: auto;
  display: flex;

  > * {
    flex: 1;
  }
}

.here__location {
  display: flex;
  gap: 1rem;
}

/*------------------*/
//  #SINGLES
/*------------------*/

.single__description {
  padding-block: 1.5rem;
  background-color: var(--mercury);
  box-shadow: 0 0 0 100vmax var(--mercury);
  clip-path: inset(0 -100vmax);
}

// ? this might be a bad name if its also buy
.single__book {
  max-width: 40rem;
  margin-inline: auto;
  background-color: var(--mullen);
  box-shadow: 0 0 0 100vmax var(--mullen);
  clip-path: inset(0 -100vmax);
  padding-block: 1.5rem;

  button {
    border-color: whitesmoke;
    color: whitesmoke;
  }
}

.single__other {
  max-width: 60rem;
  margin-inline: auto;
}

.hgroup__retail {
  display: flex;
  gap: 1rem;

  .h_brand {
    order: 1;
  }

  .h_title {
    order: 2;
  }
}

.spec {
  display: flex;
  gap: 1rem;
  border-bottom: 2px solid var(--mercury);
}

/*------------------*/
//  #FOOTER
/*------------------*/

footer {
  max-width: 60rem;
  margin-inline: auto;

  display: flex;
  gap: 1rem;

  > * {
    border-block-end: 1px solid var(--mercury);
  }

  > *:first-child,
  *:last-child {
    border-block-end: none;
  }

  nav ul {
    flex-direction: column;
    gap: 0.75rem;
  }

  .pricing-chart {
    flex: 2;

    h4 {
      font-size: 0.75rem;
      font-weight: 400;
      margin: 0.25px;

      span {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
      }
    }

    p {
      font-size: 0.75rem;
      margin: 0.25px span {
        white-space: nowrap;
      }
    }
  }
}

.social {
  display: flex;
  gap: 1rem;

  svg {
    height: 2.5rem;
    max-width: 2.5rem;
  }
}
