/*------------------------------------*/
/* #LINKS */
/*------------------------------------*/

a {
  color: var(--mullen-100);
}

a:where(:hover, :focus) {
  color: var(--mullen-200);
}

.link__subtle-svg svg {
  fill: var(--black-out);
}

.link__subtle-svg svg:where(:hover, :focus) {
  fill: var(--mullen-100);
}

/*------------------------------------*/

.link__backed:hover {
  background-color: var(--sand);
  box-shadow: var(--penumbra);
  border: 1px solid whitesmoke;

  @media (prefers-color-scheme: dark) {
    color: var(--mullen-100);
    background-color: var(--mullen-300);
    border: 1px solid var(--mullen-300);
  }
}

/*------------------*/
/* #MENU LIST */
/*------------------*/

.menu-list .active {
  background-color: var(--sand);
  box-shadow: var(--penumbra);
  border: 1px solid whitesmoke;

  @media (prefers-color-scheme: dark) {
    color: var(--mullen-100);
    background-color: var(--mullen-100);
    border: 1px solid var(--mullen-300);
  }
}

a svg {
  fill: var(--mullen-100);
}

/* * resets the paddle color */
a svg.instagram {
  filter: grayscale(0%) brightness(100%);
}

a svg:where(:hover, :focus) {
  fill: var(--mullen-300);
}

/*------------------*/
/* #FOOTER */
/*------------------*/

footer {
  /* TODO: dark */
  .link__backed:hover {
    background-color: whitesmoke;
    box-shadow: var(--antumbra);
    border-color: var(--brilliance);

    @media (prefers-color-scheme: dark) {
      background-color: var(--ink-300);
      border-color: black;
    }
  }

  .link__backed:focus {
    background-color: var(--brilliance);
    box-shadow: var(--umbra);

    @media (prefers-color-scheme: dark) {
      background-color: var(--ink-300);
      border-color: black;
    }
  }
}

.location {
  text-decoration: none;
  transition: var(--fade);

  a {
    text-decoration: none;
    color: var(--brilliance);
  }
}

.location:hover {
  color: var(--mullen-200);
}
