/*------------------*/
/* #LISTS */
/*------------------*/

/*------------------*/
/* #BREADCRUMBS */
/*------------------*/

/* https://www.w3.org/WAI/ARIA/apg/patterns/breadcrumb/examples/breadcrumb/ */
.breadcrumbs {
  background-color: var(--sand-200);
  box-shadow: 0 0 0 100vmax var(--sand-200);
  clip-path: inset(0 -100vmax);

  @media (prefers-color-scheme: dark) {
    background-color: var(--ink);
    box-shadow: 0 0 0 100vmax var(--ink);
  }

  ol a {
    color: var(--mullen-200); /* needed for contrast */

    @media (prefers-color-scheme: dark) {
      color: var(--mullen); /* TODO: contrast */
    }
  }
}

.react-aria-Breadcrumbs {
  background-color: var(--sand-200);
  box-shadow: 0 0 0 100vmax var(--sand-200);
  clip-path: inset(0 -100vmax);

  @media (prefers-color-scheme: dark) {
    background-color: var(--ink);
    box-shadow: 0 0 0 100vmax var(--ink);
  }

  li a {
    color: var(--mullen-200);

    @media (prefers-color-scheme: dark) {
      color: var(--mullen);
    }
  }
}

.tour__minimum p {
  color: var(--industrial-revolution);
}

/*------------------*/
/* #FEATURES */
/*------------------*/

.features ul li {
  border-bottom: 1px solid var(--tin-soldier);
}

.faq li {
  border-bottom: 1px solid var(--tin-soldier);
}

/*------------------*/
/* #BRANDS */
/*------------------*/

.brand_list {
  > li {
    border: 1px solid var(--tin-soldier);
    background-color: var(--mullen);

    @media (prefers-color-scheme: dark) {
      border: 1px solid var(--raven-black);
    }

    > a {
      background: var(--mullen);
      color: whitesmoke;
    }

    svg {
      fill: whitesmoke;
    }

    > a:where(:hover, :focus) {
      background-color: var(--mullen-200);
      box-shadow: var(--penumbra);
      color: var(--kingly-cloud);
      box-shadow: var(--penumbra);

      /* TODO: svg is not changing fill on hover */
      svg {
        fill: var(
          --kingly-cloud
        ) !important; /* this is getting around a not instagram specificity issue */
      }
    }
  }
}
