/*------------------*/
/* #LISTS */
/*------------------*/

/*------------------*/
/* #DEFAULTS */
/*------------------*/

/* updated */
ul {
  padding-inline-start: 0.75rem;
  margin: 0; /* reset */

  li {
    display: block;
    margin-block-end: var(--baseline);
  }
}

ol {
  li {
    display: inline flow-root list-item;
    margin-block-end: var(--baseline);
  }
}

/*------------------*/
/* #BREADCRUMBS */
/*------------------*/

/* https://www.w3.org/WAI/ARIA/apg/patterns/breadcrumb/examples/breadcrumb/ */
.breadcrumbs {
  margin-inline: auto; /* overwrite nav */
  padding-inline: 0.75rem; /* overwrite nav */

  background-color: hsl(var(--sand__base), var(--bright));
  box-shadow: 0 0 0 100vmax hsl(var(--sand__base), var(--bright));
  clip-path: inset(0 -100vmax);

  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--ink__h), 100%, var(--dark));
    box-shadow: 0 0 0 100vmax hsl(var(--ink__h), 100%, var(--dark));
  }

  ol {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    /* gap: 1rem; */
    max-width: var(--pelican);
    margin-inline: auto;
    padding-block-start: 1.5rem;
    margin-block-end: 0;
    /* padding-block-end: 1.5rem; */
    /* padding-inline: calc(var(--baseline) / 2); deprecated but still checking */
    padding-inline: 0;
    text-transform: capitalize;

    a {
      display: inline;
      color: hsl(var(--mullen__base), var(--dim)); /* needed for contrast */

      @media (prefers-color-scheme: dark) {
        color: hsl(var(--mullen__base), var(--glow)); /* needed for contrast */
      }
    }
  }
}

.tour__minimum {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  align-items: center;

  p {
    color: var(--industrial-revolution);
  }
}

/*------------------*/
/* #PARAGRAPH LIST */
/*------------------*/

.paragraph-list {
  li {
    margin-block-end: var(--baseline);
  }

  a {
    display: inline;
  }
}

/*------------------*/
/* #FEATURES */
/*------------------*/

.features {
  text-transform: uppercase;
  font-size: 1rem;

  ul {
    list-style: none;
    padding-inline-start: 0;

    li {
      border-bottom: 1px solid var(--tin-soldier);
      height: 2lh;
      margin-block-end: 1lh;

      @supports not (margin: 1lh) {
        height: 2.5rem;
        margin-block-end: 1.25rem;
      }
    }

    li:last-child {
      border-bottom: none;
    }
  }
}

.faq {
  padding-inline-start: 0; /* reset */

  li {
    list-style: none;
    border-bottom: 1px solid var(--tin-soldier);
    margin-block-end: 1.5rem;
  }

  li:last-child {
    border-bottom: none;
  }

  /* question */
  h2 {
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin-block-end: 0.625rem;
  }

  /* answer */
  h3 {
    font-size: 1rem;
    line-height: 1.25;
    font-weight: normal;
    margin-block-end: 0.625rem;
  }
}

/*------------------*/
/* #BRANDS */
/*------------------*/

.brand_list {
  margin-inline: auto;
  list-style: none;
  padding: 0;
  padding-inline: 0.75rem;
  display: grid;

  /* grid-template-columns: 1fr 1fr; */
  /* this doesnt work on the home page as its wider so it can fill its won space */
  /* grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr)); guess and check */
  grid-template-columns: repeat(
    auto-fill,
    minmax(8rem, 1fr)
  ); /* guess and check */
  gap: 1rem;

  @media (min-width: 30rem) {
    max-width: var(--pelican);
    /* grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr)); */
    grid-template-columns: repeat(
      auto-fill,
      minmax(12rem, 1fr)
    ); /* guess and check this seems best on front page */
  }

  > li {
    flex: 1 1 10rem;
    border: 1px solid var(--tin-soldier);
    background-color: var(--mullen);
    border-radius: 0.25rem;
    margin-block-end: 0;

    @media (prefers-color-scheme: dark) {
      border: 1px solid var(--raven-black);
    }

    > a {
      display: flex;
      flex-direction: column;
      place-items: stretch;
      transition: var(--fade);
      text-align: center;
      width: 100%;
      height: 100%; /* this goes waaaay to big .. but it needs something */
      background: var(--mullen);
      color: whitesmoke;
      align-self: end;
      text-decoration: none;
      text-transform: uppercase;
      font-family: var(--heading_font);
      font-weight: 400;

      display: grid;

      /* I know it breaks the inception rule its very short */
      > p {
        align-self: end;
      }
    }

    svg {
      transition: var(--fade);
      margin: var(--baseline);
      fill: whitesmoke;
      min-width: 3rem; /* guess and check */

      @media (min-width: 20rem) {
        min-width: 4rem; /* guess and check */
      }

      @media (min-width: 30rem) {
        min-width: 8rem; /* guess and check */
      }
    }

    > a:where(:hover, :focus) {
      background-color: hsl(var(--mullen__base), var(--dim));
      box-shadow: var(--penumbra);
      color: var(--kingly-cloud);
      box-shadow: var(--penumbra);

      /* TODO: svg is not changing fill on hover */
      svg {
        fill: var(
          --kingly-cloud
        ) !important; /* this is getting around a not instagram specificity issue */
      }
    }
  }
}

/*------------------*/
/* #SERIES LIST */
/*------------------*/

.series-list {
  list-style: none;
  padding: 0;
}

/*------------------*/
/* #Feature list */
/*------------------*/

.feature-list {
  display: flex;
  flex-flow: row wrap;
  padding-inline-start: 0;
  list-style: none;
  gap: var(--baseline);
  align-items: baseline;
  /* justify-content: space-between; */
  justify-content: start;

  li {
    /* h5 */
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1lh;
    @supports not (margin-bottom: 1lh) {
      margin-bottom: 1.25rem;
    }
  }
}

/*------------------*/
/* #TESTIMONIALS */
/*------------------*/

.testimonials {
  list-style: none;
  padding-inline-start: 0; /* reset */
}
