/*------------------*/
//  #MEDIA
/*------------------*/

/*------------------*/
//  #SVG
/*------------------*/

svg {
  min-width: 2rem; // safari needs default mins
  max-height: 5rem;
}

/*------------------*/
//  #LOGO
/*------------------*/

.logo-container {
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  justify-content: center;
  background-color: whitesmoke;
  box-shadow: 0 0 0 100vmax whitesmoke;
  clip-path: inset(0 -100vmax);
  z-index: 1;
  position: relative;
  max-width: calc(100% - 2rem); // guess and check
  padding-block: var(--baseline);

  @supports not (margin-inline: auto) {
    margin-inline: auto;
  }

  @media (min-width: 30rem) {
    max-width: 32rem; // guess and check
  }

  h1 {
    margin-block-end: 0.5rem; // needed for the drop on the "y"
  }

  svg {
    transform: rotate(90deg);
    width: 7rem;
  }

  .paddle--right {
    transform: rotate(-90deg);
  }
}

/*------------------*/
//  #IMAGE
/*------------------*/

.img__wrapped {
  border: 1px solid white;
  border-radius: 0.25rem;
  box-shadow: var(--penumbra);
}

.crop {
  clip-path: polygon(0 0, 100% 0, 0 100%);
}

/*------------------*/
//  #MAP
/*------------------*/

.map-svg {
  max-width: 100%;
  max-height: 100%;
}

/*------------------*/
//  #SOCIAL
/*------------------*/

.facebook {
  .facebook__blue {
    fill: grey;
    transition: 0.5s ease;
  }
}

.facebook:hover {
  .facebook__blue {
    fill: #1877f2;
  }
}
