/*------------------*/
//  #MEDIA
/*------------------*/

/*------------------*/
//  #SVG
/*------------------*/

svg {
  min-width: 2rem; // safari needs default mins
  min-width: 2rem;
  max-height: 5rem;
  max-height: 5rem;
}

/*------------------*/
//  #LOGO
/*------------------*/

.logo-container {
  margin-inline: auto;
  max-width: 20rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  background-color: whitesmoke;
  box-shadow: 0 0 0 100vmax whitesmoke;
  clip-path: inset(0 -100vmax);
  z-index: 1;
  position: relative;

  svg {
    transform: rotate(90deg);
  }

  .paddle--right {
    transform: rotate(-90deg);
  }
}

/*------------------*/
//  #IMAGE
/*------------------*/

.img__wrapped {
  border: 1px solid white;
  border-radius: 0.25rem;
  box-shadow: var(--penumbra);
}
