header {
  z-index: 1; /* TODO: variable */
  position: relative;
}

.button-styles {
  margin-block-end: 0;
  transform: translate3D(0, 0, 0); /* I need this to hide things */
  line-height: 1.5;
  height: 2rem;
  overflow: hidden;
  z-index: 1; /* TODO: variable */
  position: relative;
  /* width: calc(100% - 1rem); */
  width: 100%;
  margin-inline: auto;
  background-color: var(--mullen);
  color: whitesmoke;
  box-shadow: var(--penumbra);
}

.span-styles {
  position: fixed; /* I never like these things but it's needed here */
  height: 1rem;
  line-height: 2rem;
  transition: 2s ease;
  margin-block-start: -1rem; /* I dont know why I have to add this something about defaults probably */
}

nav {
  margin: 1.5rem;
  margin-block-start: 0; /* testing slide menu */
  transition: 2s ease;
  padding-inline-start: 1.5rem;

  @media (min-width: 40rem) {
    max-width: var(--pelican);
    margin: 0 auto;

    @supports not (margin-inline: auto) {
      margin-inline: auto;
    }
  }

  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-block: 0; /* testing slide menu */
    padding-block-start: 1.25rem;
    padding-block-start: calc(var(--baseline) / 2);
    list-style: none;
    padding-inline-start: 0;
    align-items: baseline;

    li {
      margin-block-end: 0;
    }
  }
}

.menu__small {
  transition: var(--fade);

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
  }

  nav {
    padding-inline-start: 0;
  }

  ul {
    flex-direction: column;
    gap: 1rem;
    z-index: 1; /* TODO: variable */
    position: relative;
    background-color: var(--sand);
    background-color: hsl(25, 37%, 87.5%); /* ? why is this custom */
    box-shadow: 0 0 0 100vmax hsl(25, 37%, 87.5%); /* ? why is this custom */
    clip-path: inset(0 -100vmax);
    /* border-block-end: 2px solid var(--industrial-revolution); this isnt full width */

    /* ! dark */

    li a {
      padding-inline: calc(var(--baseline) / 2);
      padding-block: calc(var(--baseline) / 4);
      text-decoration: underline;
    }

    li:first-child {
      margin-block-start: 1.5rem;
      margin-block-start: calc(var(--baseline) / 2);
      margin-block-start: 0;
    }

    li:last-child {
      margin-block-end: 1.5rem;
    }

    .book-now {
      margin: 0;
    }
  }
}
