body {
  font-size: 16px;
  line-height: 1.5;
}

main,
section,
footer {
  max-width: 40rem;
  margin-inline: auto;
}

.pricing-chart {
  display: flex;
  text-align: center;

  > * {
    display: flex;
    flex: 1 1 10rem;
    flex-direction: column;
  }

  /* > :nth-child(odd) {
    background-color: grey;
  } */
}
