/*------------------*/
/* #PRICING CHART */
/*------------------*/

.pricing-chart p {
  /* TODO: seems like I shouldnt go below a px just make it lighter */
  border-bottom: 0.5px solid var(--tin-soldier);
  border-right: 0.5px solid var(--tin-soldier);
}

/*------------------*/
/* #RENTAL CHART */
/*------------------*/

.rental-chart .row {
  /* box */
  > * {
    padding: clamp(0.5rem, 1vw, 1rem);
    border-inline-end: 1px solid var(--tin-soldier);
    border-block-end: 1px solid var(--tin-soldier);
  }

  @media (prefers-color-scheme: dark) {
    > * {
      border-inline-end: 1px solid var(--black-out);
      border-block-end: 1px solid var(--black-out);
    }
  }
}
