/*------------------*/
//  #PRICING CHART
/*------------------*/

.pricing-chart {
  display: flex;
  text-align: center;
  margin-block-end: 1.5rem;

  // columns
  > * {
    display: flex;
    flex: 1 1 10rem;
    flex-direction: column;

    // rows
    > * {
      border: 0.5px solid var(--primary);
      border-left: none;
      padding-block: 1.5rem;
      // margin-inline: 0.125rem;
      // margin-block: 0.125rem;

      > * {
        margin: 0;
      }
    }

    // first row
    > *:first-child {
      // background-color: var(--lake);
      // color: whitesmoke;
      // border-radius: 0.25rem;
      // border: none;
      margin: 0;
      border-top: none;
    }

    > *:last-child {
      border-bottom: none;
    }
  }

  *:last-child > * {
    border-right: none;
  }

  p {
    margin-block: 0;
  }
}
