h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Barlow-Condensed", Arial, sans-serif; // Google font
  margin-block-start: 0; /* reset */
}

/*------------------------------------*\
    #Type Rythym
\*------------------------------------*/

/* This is trying to have a nice starter */

/* html {
  font-family: ;
} */

/* singlines */

/* baseline
0.625rem
1.25rem
2.5rem
3.75rem */

body {
  font-family: "Barlow", Arial, sans-serif; // Google font
  font-size: 16px;
  line-height: 1.25rem; /* 20px */
}

p {
  margin-block-start: 0;
  margin-block-end: 0.625rem; /* 10px */
  /* single line 30px */
  /* two lines 50px */
  /* multi lines + 20px each */
  font-family: Arial, sans-serif;
}

h1 {
  margin-top: 0; /* browser reset */
  font-size: 3rem; /* 48px */
  line-height: 3.75rem; /* 60px */
  margin-bottom: 2.5rem; /* 40px */
  /* single line 100px */
  /* two lines 160px */
  /* multi lines + 60px each */
}

h2 {
  font-size: 2.5rem; /* 40px */
  line-height: 3rem; /* 48px */
  margin-block-end: 2rem; /* 32px */
  /* single line 80px */
  /* two lines 128px🚨 */
  /* multi lines + 48px each🚨 */

  /* what if i just do a slightly different base for two lines? as an extra class? */
  /* 96 + x? */
}

h3 {
  font-size: 2rem; /* 32px */
  line-height: 2.5rem; /* 40px */
  margin-bottom: 1.875rem; /* 30px */
  /* single line 70px */
  /* two lines 110px */
  /* multi lines + 40px each */
}

h4 {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  margin-bottom: 1.75rem; /* 28px */
  /* single line 60px */
  /* two lines 92px🚨 */
  /* multi lines + 32px🚨 each */
}

h5 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.875rem; /* 30px */
  margin-bottom: 0.625rem; /* 10px */
  /* single line 40px */
  /* two lines 70px */
  /* multi lines + 30px each */
}

h6 {
  font-size: 1rem; /* 16px */
  line-height: 1.25rem; /* 20px this becomes the vertical rythym */
  margin-bottom: 0.625rem; /* 10px skips some of the lines */
  /* single line 30px */
  /* two lines 50px */
  /* multi lines + 20px each */
}

/* start the multi line problem here as itll be worst */
small {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
  margin-bottom: 0.875rem; /* 14px */
  /* single line 30px */
  /* two lines 46px🚨 */
  /* multi lines + 16px🚨 each */

  /* options i want 20px if its smaller it can be 10 but thats unrealistic */
  /* 4 is pretty small on a single line that doesnt work it'd have to go to 30 */
  /* two is already fine */
  /* anymore gets super complicated to get it right */
}

.two-small-lines {
  @extend small;
  margin-bottom: 0.5rem; /* 8px */
  /* two lines 40px */
}

.multiple-small-lines {
  @extend small;
}

/*------------------*/
//  #HR
/*------------------*/

hr {
  border: none; // reset
  border-bottom: 1px solid var(--kingly-cloud);

  @media (prefers-color-scheme: dark) {
    border-bottom: 1px solid var(--black-out);
  }
}

hr.no {
  display: none;
}

/* button {} */

/* .logo {
  font-family: filmotype-lasalle, serif;
} */

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

/*------------------*/
//  #HEADINGS
/*------------------*/

hgroup {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  align-items: baseline;
}

/*------------------*/
//  #CREST
/*------------------*/

// .crest, .brow, .supra all work as a set
.crest {
  display: flex;
  flex-direction: column;
  gap: 0; // resets the default hgroup
}

.brow {
  order: 1;
  @extend h4;
  margin-block-end: 1rem;
}

.supra {
  order: 2;
  @extend h2;
}

/*------------------*/
//  #SPECIFICS
/*------------------*/

.single__description {
  line-height: 1.5;
}

.page-title {
  @extend h4;
}
