:root {
  /*------------------*/
  /* #TAHOE CITY KAYAK */
  /*------------------*/

  --mullen: hsl(0, 50%, 50%); /* #bf4040 */
  --mullen__base: 0, 50%;

  /* whats used */
  /* --mullen */
  /* hsl(var(--mullen__base), var(--glow)) */
  /* hsl(var(--mullen__base), var(--dim)) */
  /* hsl(var(--mullen__base), var(--dull)) */
  /* hsl(var(--mullen__base), var(--dark)) */

  /* --sand */
  /* hsl(var(--sand__base), var(--bright)) */
  /* hsl(var(--sand__base), var(--dark)) */
  /* hsl(var(--sand__base), var(--dim)) */
  /* hsl(var(--sand__base), 5%) */

  /* --ink */
  /* hsl(var(--ink__h), 50%, 5%) */
  /* hsl(var(--ink__h), 100%, var(--dark)) */
  /* hsl(var(--ink__h), 100%, 7.5%) */

  /* hsl(25, 37%, 87.5%) */

  --sand: hsl(
    25,
    37%,
    95%
  ); /* not a louie color because I dont want to hit 100 */
  --sand__base: 25, 37%;

  /* sand gets ugly in dark colors so Im going to a darker blue */
  --ink: hsl(210, 50%, 7.5%); /* #0a131d */
  --ink__h: 210;

  /*------------------------------------*/
  /* #SOUTH TAHOE KAYAK */
  /*------------------------------------*/
  /* needed for storybook */

  --navy: oklch(55% 0.14 230);

  --navy-bright: oklch(87.5% 0.09 230);
  --navy-light: oklch(75% 0.12 230);
  --navy-glow: oklch(62.5% 0.14 230);

  --navy-dim: oklch(37.5% 0.14 230);
  --navy-dull: oklch(25% 0.12 230);
  /* --navy-dark: oklch(12.5% 0.14 230); */

  /* TODO: probably get rid of these */
  --navy-c: 0.14;
  --navy-h: 230;

  /* oklch(75% var(--navy-c) var(--navy-h)) */
  /* oklch(62.5% var(--navy-c) var(--navy-h)) */
  /* oklch(12.5% var(--navy-c) var(--navy-h)) */
  /* oklch(2.5% var(--navy-c) var(--navy-h)) */

  /* oklch(97.5% 0.025 95) */

  /*------------------------------------*/

  --sunshine: oklch(88% 0.2 95);
  --sunshine-brilliant: oklch(97.5% 0.2 95);
  --sunshine-bright: oklch(88% 0.2 95);
  --sunshine-light: oklch(75% 0.2 95);
  --sunshine-glow: oklch(62.5% 0.2 95);

  /*------------------------------------*/

  --sunshine-100: oklch(97.5% 0.025 95);
  --sunshine-200: oklch(95% 0.05 95);
  --sunshine-300: oklch(92.5% 0.1 95);
  --sunshine-400: oklch(90% 0.15 95);
  --sunshine: oklch(87.5% 0.2 95);

  /*------------------------------------*/

  --card-radius: 0.25rem;

  /*------------------*/
  /* #DEFAULTS */
  /*------------------*/

  /* louie variables */
  --pitch: 2.5%;
  --dark: 12.5%;
  --dull: 25%;
  --dim: 37.5%;
  --mid: 50%;
  --glow: 62.5%;
  --light: 75%;
  --bright: 87.5%;
  --brilliant: 97.5%;

  /* louie neutrals */
  --black-metal: hsl(0, 0%, 2.5%);
  --black-out: hsl(0, 0%, 12.5%);
  --raven-black: hsl(0, 0%, 25%);
  --industrial-revolution: hsl(0, 0%, 37.5%);
  /* grey */
  --cold-grey: hsl(0, 0%, 62.5%);
  --tin-soldier: hsl(0, 0%, 75%);
  --kingly-cloud: hsl(0, 0%, 87.5%);
  --brilliance: hsl(0, 0%, 97.5%);

  /*------------------*/
  /* #TYPOGRAPHY */
  /*------------------*/

  --body_font: "Barlow", Arial, sans-serif;
  --heading_font: "Barlow Condensed", Arial, sans-serif;

  --baseline: 1.25rem; /* 20px */

  /* 🏔 Mountain Names as Font Sizing Defaults */
  /* (Highest by Continent) */
  --everest: 3rem; /* 29,035ft Asia */
  --aconcagua: 2.5rem; /* 22,840ft South America */
  --denali: 2rem; /* 20,320ft North America */
  --kilimanjaro: 1.5rem; /* 19,340ft Africa */
  --elbrus: 1.25rem; /* 18,510ft Europe / Russia */
  --vinson_massif: 1rem; /* 16,050ft Antartica */
  --kosciuszko: 0.75rem; /* 7,310ft Australia */

  /*------------------*/
  /* #SHADOWS */
  /*------------------*/

  /* Umbra is direct light - dark - for active down clicks */
  /* Antumbra is eclipsed - medium - for hover */
  /* Penumbra is obscured - light - for layering but waiting */

  --penumbra: 0 3px 6px hsla(0, 0%, 0%, 0.12), 0 2px 4px hsla(0, 0%, 0%, 0.1);
  --antumbra: 0 14px 24px hsla(0, 0%, 0%, 0.16),
    0 4px 12px hsla(0, 0%, 0%, 0.12);
  --umbra: 0 5px 12px hsla(0, 0%, 0%, 0.4) /* Ambient light shadow */,
    0 18px 32px hsla(0, 0%, 0%, 0.16) /* Direct light shadow */;

  /* shadows on dark backgrounds */
  --penumbra--dark: 0 3px 6px hsla(0, 0%, 100%, 0.12),
    0 2px 4px hsla(0, 0%, 100%, 0.1);

  /*------------------*/
  /* #WIDTHS */
  /* https://en.wikipedia.org/wiki/Largest_living_flying_birds_by_wingspan */
  /*------------------*/
  --swan: 20rem;
  --vulture: 30rem;
  --stork: 40rem;
  --condor: 50rem;
  --pelican: 60rem;
  --albatross: 80rem;

  /*------------------*/
  /* #Z INDEX */
  /* https://en.wikipedia.org/wiki/Forest */
  /*------------------*/

  --floor: 1;
  --understory: 2;
  --canopy: 3;
  --emergent: 4;

  /*------------------*/
  /* #TRANSITIONS */
  /*------------------*/
  --easing: cubic-bezier(0.5, 0, 0.5, 1);
  --fade: 0.2s var(--easing);
}
