:root {
  /*------------------*/
  //  #DEFAULTS
  /*------------------*/

  // louie variables
  --pitch: 2.5%;
  --dark: 12.5%;
  --dull: 25%;
  --dim: 37.5%;
  --mid: 50%;
  --light: 75%;
  --bright: 87.5%;
  --brilliant: 97.5%;

  // louie neutrals
  --black-metal: hsl(0, 0%, 2.5%);
  --black-out: hsl(0, 0%, 12.5%);
  --raven-black: hsl(0, 0%, 25%);
  --industrial-revolution: hsl(0, 0%, 37.5%);
  --grey: grey; // I can not use the variable here
  --cold-grey: hsl(0, 0%, 62.5%);
  --tin-soldier: hsl(0, 0%, 75%);
  --kingly-cloud: hsl(0, 0%, 87.5%);
  --brilliance: hsl(0, 0%, 97.5%);

  /*------------------*/
  //  #SHADOWS
  /*------------------*/

  // Umbra is direct light - dark - for active down clicks
  // Antumbra is eclipsed - medium - for hover
  // Penumbra is obscured - light - for layering but waiting

  --penumbra: 0 3px 6px hsla(0, 0%, 0%, 0.12), 0 2px 4px hsla(0, 0%, 0%, 0.1);
  --antumbra: 0 14px 24px hsla(0, 0%, 0%, 0.16),
    0 4px 12px hsla(0, 0%, 0%, 0.12);
  --umbra: 0 5px 12px hsla(0, 0%, 0%, 0.4) /* Ambient light shadow */,
    0 18px 32px hsla(0, 0%, 0%, 0.16) /* Direct light shadow */;

  /*------------------*/
  //  #TAHOE CITY KAYAK
  /*------------------*/

  --mullen: hsl(0, 50%, 50%);
  --mullen__base: 0, 50%;
  --mullen__dark: hsl(0, 50%, 40%);
  --mullen__dim: hsl(0, 50%, var(--dim));

  --sand: hsl(25, 37%, 95%); // not a louie color because I dont want to hit 100
  --sand__base: 25, 37%;
  --sand__dark: hsl(25, 37%, 37.5%);

  --sand__double-dark: hsl(25, 37%, 5%);
  --sand__pitch: hsl(var(--sand__base), var(--pitch));

  --baseline: 1.25rem; // 20px

  /*------------------*/
  //  #WIDTHS
  /*------------------*/

  --measure: 40rem;

  --br: var(--baseline);
}

$measure: 40rem;
