:root {
  --mullen: hsl(0, 50%, 50%);
  --mullen__dark: hsl(0, 50%, 40%);
  --sand: hsl(25, 37%, 95%); // not a louie color because I dont want to hit 100
  --almost: hsl(0, 0%, 2.5%);

  /*------------------*/
  //  #SHADOWS
  /*------------------*/

  // Umbra is direct light - dark - for active down clicks
  // Antumbra is eclipsed - medium - for hover
  // Penumbra is obscured - light - for layering but waiting

  --penumbra: 0 3px 6px hsla(0, 0%, 0%, 0.12), 0 2px 4px hsla(0, 0%, 0%, 0.1);
  --antumbra: 0 14px 24px hsla(0, 0%, 0%, 0.16),
    0 4px 12px hsla(0, 0%, 0%, 0.12);
  --umbra: 0 5px 12px hsla(0, 0%, 0%, 0.4) /* Ambient light shadow */,
    0 18px 32px hsla(0, 0%, 0%, 0.16) /* Direct light shadow */;

  --lead: hsl(0, 0%, 10%);
  --tungsten: hsl(0, 0%, 20%);
  --iron: hsl(0, 0%, 30%);
  --steel: hsl(0, 0%, 40%);
  --nickel: hsl(0, 0%, 50%);
  --aluminium: hsl(0, 0%, 60%);
  --magnesium: hsl(0, 0%, 70%);
  --silver: hsl(0, 0%, 80%);
  --mercury: hsl(0, 0%, 90%);
}
