/* TODO: make this attractive */

.storybook-Color {
  max-width: 100%;

  section {
    border: 1px solid var(--kingly-cloud);
    padding: 1rem;
    border-radius: 1rem;
    margin-block-end: 1rem;
  }
}

.story-color-stack {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));

  /*
  TODO: > * :first-child {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: wheat;
  } */
}

.story-color {
  height: 15rem;
  text-align: center;
}

/*------------------------------------*/

.story-color.mullen {
  background-color: var(--mullen);
}
.story-color.mullen-glow {
  background-color: hsl(var(--mullen__base), var(--glow));
}
.story-color.mullen-dim {
  background-color: hsl(var(--mullen__base), var(--dim));
}
.story-color.mullen-dull {
  background-color: hsl(var(--mullen__base), var(--dull));
}

/* TODO: this doesnt feel useful beside a black or a very dark */
.story-color.mullen-dark {
  background-color: hsl(var(--mullen__base), var(--dark));
}

/*------------------------------------*/

.story-color.sand {
  background-color: var(--sand);
}

.story-color.sand-5 {
  background-color: hsl(var(--sand__base), 5%);
}

.story-color.sand-bright {
  background-color: hsl(var(--sand__base), var(--bright));
}

.story-color.sand-dim {
  background-color: hsl(var(--sand__base), var(--dim));
}

.story-color.sand-dark {
  background-color: hsl(var(--sand__base), var(--dark));
}

/*------------------------------------*/

.story-color.ink {
  background-color: var(--ink);
}
.story-color.ink-5 {
  background-color: hsl(var(--ink__h), 50%, 5%);
}
.story-color.ink-dark {
  background-color: hsl(var(--ink__h), 100%, var(--dark));
}
.story-color.ink-7_5 {
  background-color: hsl(var(--ink__h), 100%, 7.5%);
}

/*------------------------------------*/

.story-color.navy {
  background-color: var(--navy);
}

.story-color.navy-75 {
  background-color: oklch(75% var(--navy-c) var(--navy-h));
}

.story-color.navy-62_5 {
  background-color: oklch(62.5% var(--navy-c) var(--navy-h));
}

.story-color.navy-12_5 {
  background-color: oklch(12.5% var(--navy-c) var(--navy-h));
}

.story-color.navy-2_5 {
  background-color: oklch(2.5% var(--navy-c) var(--navy-h));
}

/*------------------------------------*/

.story-color.navy-bright {
  background-color: var(--navy-bright);
}

.story-color.navy-light {
  background-color: var(--navy-light);
}

.story-color.navy-glow {
  background-color: var(--navy-glow);
}

.story-color.navy-dim {
  background-color: var(--navy-dim);
}

.story-color.navy-dull {
  background-color: var(--navy-dull);
}

.story-color.navy-dark {
  background-color: var(--navy-dark);
}

/*------------------------------------*/

.story-color.sunshine {
  background-color: var(--sunshine);
}

.story-color.sunshine-brilliant {
  background-color: var(--sunshine-brilliant);
}

.story-color.sunshine-bright {
  background-color: var(--sunshine-bright);
}

.story-color.sunshine-light {
  background-color: var(--sunshine-light);
}

.story-color.sunshine-glow {
  background-color: var(--sunshine-glow);
}

/*------------------------------------*/

.story-color.sunshine-100 {
  background-color: var(--sunshine-100);
}

.story-color.sunshine-200 {
  background-color: var(--sunshine-200);
}

.story-color.sunshine-300 {
  background-color: var(--sunshine-300);
}

.story-color.sunshine-400 {
  background-color: var(--sunshine-400);
}
