/* TODO: make this attractive */

.storybook-Color {
  max-width: 100%;

  section {
    border: 1px solid var(--kingly-cloud);
    padding: 1rem;
    border-radius: 1rem;
    margin-block-end: 1rem;
  }
}

.story-color-stack {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));

  /*
  TODO: > * :first-child {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: wheat;
  } */
}
